<?xml version="1.0"?>
<packages>
  <package id="atom" />
  <package id="brackets" />
  <package id="curl" />
  <package id="git" />
  <package id="google-chrome-x64" />
  <package id="mobaxterm" />
  <package id="pgadmin3" />
  <package id="sourcetree" />
  <package id="vagrant" />
  <package id="virtualbox" />
  <package id="visualstudiocode" />
</packages>
