[user]
	name = lisp719
	email = lisp719@gmail.com
[push]
	default = simple
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	editor = subl -w
[alias]
	ame = commit -v --amend
	bk = branch -f bk
	cc = !git checkout . && git clean -df
	cu = checkout -b current
	l = log --graph --decorate --oneline
	pushc = push origin -u HEAD
	rebasea = rebase --abort
	rebasec = rebase --continue
	s = status -b -s
	sync = reset --hard
[gui]
	encoding = utf-8
	gcwarning = false
