[user]
	name = lisp719
	email = lisp719@gmail.com
[push]
	default = simple
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	editor = nano
[alias]
	amend = commit -v --amend
	bk = branch -f bk
	create = !git init && git commit --allow-empty -m 'create repo'
	cu = switch -c current
	discard = stash -k -u
	l = log --graph --decorate --oneline
	no-skip = update-index --no-skip-worktree
	pushc = push origin -u HEAD
	rebasea = rebase --abort
	rebasec = rebase --continue
	s = status -b -s
	skip = update-index --skip-worktree
	sync = reset --hard
[gui]
	encoding = utf-8
	gcwarning = false
