[user]
  name = lisp719
  email = test@example.com
[push]
  default = simple
[core]
  editor = nano
  excludesfile = /home/vagrant/.gitignore
[alias]
  ame = commit -v --amend
  dt = difftool
  m = merge
  mt = mergetool
  sh = show
  sync = reset --hard
  t = tag
[gui]
  gcwarning = false
